html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  font-family: Lato, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../img/amiibo-bg.jpeg");
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  padding-top: 1rem;
}

h2 {
  padding-top: 1rem;
} 

#pg-body-bg {
  background-color: white;
  border-radius: 25px;
}

.home-btn {
  font-size: 10px;
  text-decoration: none;
}

.home-btn:hover {
  opacity: 0.8;
  text-decoration: none;
} 

.home-btn:active {
  opacity: 0.5;
}

.home-btn:focus {
  outline: none;
}

.info-btn {
  font-size: 16px;
  text-decoration: none;
  padding:0.4em 1em;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.info-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  text-decoration: none;
}

.info-btn:active {
  opacity: 0.5;
}

.info-btn:focus {
  outline: none;
}

footer {
  background: #df4759;
  color: white;
}